<script>
  var LOCS_HASH = <%= locs_hash.to_json.html_safe %>;
  var MAP_WIDTH = <%= mapwidth %>;
  var MAP_HEIGHT = <%= mapheight %>;
</script>

<div class="container" id="container_left_side">
  <div id="left_side">
    <div class="clearfix"><span id="pbrown">Площади от</span></div>
    <span id="pnavy"><%= @spro.header_price %></span>
    <span id="pdark">рублей/кв.м.</span>
  </div>
  <div id="right_side">
    <p id="ptele"><%= @spro.address_telephone_1 %></p>
    <p id="paddress"><%= @spro.address_locality %><br>
      <%= @spro.address_street %></p>
  </div>
</div>

<div id="map_wrapper">
  <%= render "c80_map/shared/save_preloader" %>
  <div class="mcontainer">
    <div class="mmap">
      <div class="layers"></div>
      <div id="masked" style="-webkit-clip-path:polygon(0 0, 0 1px)"></div>
      <svg id='svg' xmlns="http://www.w3.org/2000/svg" version="1.2" viewbox='0 0 <%= mapwidth %> <%=mapheight%>' baseProfile="tiny" preserveAspectRatio="xMaxYMax"></svg>
      <div class="overlay_layers"></div>
      <svg id='svg_overlay' xmlns="http://www.w3.org/2000/svg" version="1.2" viewbox='0 0 <%= mapwidth %> <%=mapheight%>' baseProfile="tiny" preserveAspectRatio="xMaxYMax"></svg>
    </div>
    <div class="container" id="ui">
      <%= render "layouts/shared/map_row/building_info" %>
      <%= render "layouts/shared/map_row/area_order_button" %>
    </div>
    <div class="container" id="container_buttons">
      <div class="mzoom_buttons"></div>
      <div class="status_bar"></div>
    </div>
  </div>
</div>
